* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececec;
    font-family: 'Cairo', sans-serif;
}

.card {
    width: 500px;
    background-color: white;
    margin: 200px auto;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}

.card img {
    position: absolute;
    left: 50%;
    top: -110px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.card h2 {
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 0px;
    color: #3f51b5;
}

.card>p {
    text-transform: capitalize;
    color: #777;
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 13px;
}
.social
{
    border-top: solid 2px #ececec;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 20px;
}
.social div
{
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    background-color: #ececec;
    padding: 8px;
}
.card::after
{
    content: 'A+';
    background-color: #3f51b5;
    padding: 1px 7px;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    border-radius: 4px;
    right: 10px;
   font-weight: 600;
    bottom: -15px;
    
}